.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.reduce-height {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.btn-sewa{
  color: #E6BA95;
  border: none
}

.btn-sewa:hover{
  color: #282c34;
}

button {
  background-color: #7D9D9C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7D9D9C;
  color: #fff;
}

.nav-background{
  background-color: #F9F7F7;
}

.box-shadow{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.footer {
  height: 50px;
  align-items: center;
}
.text{
  text-align: left;
}

.img-border {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.border {
  border-radius: 5px;
  padding: 16px;
  border-style: solid;
}
.background {
  background-color: #F4F4F4;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.line-horizontal {
  /* border-top: 1px solid black;
  margin: 20px 0;  */
  width: 200px; /* Ubah sesuai panjang yang diinginkan */
  height: 5px; /* Ubah sesuai ketebalan yang diinginkan */
  background-color: black; /* Ubah sesuai warna yang diinginkan */
  margin: 0 auto;
}

.line-horizontal-about {
  border-top: 1px solid black;
  margin: 20px 0; 
}

.line-horizontal-overlay {
  /* border-top: 1px solid black;
  margin: 20px 0;  */
  width: 200px; /* Ubah sesuai panjang yang diinginkan */
  height: 5px; /* Ubah sesuai ketebalan yang diinginkan */
  background-color: #282c34; /* Ubah sesuai warna yang diinginkan */
  margin: 0 auto;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #282c34;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}
.img-rounded {
  border-radius: 50%;
}

@media (max-width: 767px) {
  .mobile-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .carousel {
    width: 100%;
    height: 150px;
  }
  .carousel img {
    width: 100%;
    height: 150px;
  }

  #Testimoni {
    display: block;
  }

  #Testimoni img {
    width: 150px;
  }

  .langganan {
    padding-top: 300px;
  }

  .footer {
    display: block;
  }

  .mobile-margin-top {
    margin-top: 20px; /* Sesuaikan dengan nilai margin yang diinginkan */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
